body {
	background-color: #f5f5f5;
}

.section {
	font-family: 'Roboto Condensed', sans-serif;
	position: absolute;
	top: 15%;
	left: 41%;
	right: 25%;
	transform: translate(-50%,0%);
}

.typeahead {
	padding: 15px 200px;
	width: 152% !important;
	background-color: #fff !important;
	padding-left: 40px !important;
	font-size: 18px;
}

.empty-message {
	color: red;
	text-align: center;
	padding: 10px 0px;
}

.tt-menu {
	display: block;
	width: 152%;
	background-color: #fff;
	border: unset !important;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
	/*padding: 3px 20px;*/
	font-size: 18px;
	line-height: 24px;
	cursor: pointer;
}

	.tt-suggestion:hover {
		opacity: 0.5;
	}

.man-section {
	display: flex;
	width: 94%;
	border-bottom: 1px solid #d2d2d2;
	font-family: 'Roboto Condensed', sans-serif;
}

.image-section {
	width: 10%;
}

	.image-section img {
		width: 50px;
		height: 50px;
		display: table-cell;
		vertical-align: middle;
		margin: 5px 5px 5px 5px;
	}

.description-section {
	text-align: left;
	width: 80%;
}

	.description-section h1 {
		margin: 0px;
		font-weight: bold;
		padding: 0px 7px;
		font-size: 16px;
		color: #000;
		margin-top: 4px;
		text-transform: uppercase;
	}

	.description-section p {
		margin: 0px;
		padding: 0px 1px 0px 8px;
		font-size: 14px;
		color: #7d7f80;
		line-height: 15px;
	}
